<div class="content">
  <h1 class="info-header">Users</h1>
  <ul class="unstyled-list">
    <li class="list-item-style" *ngFor="let user of users">
      <h4 class="list-item-header">
        Name: <span class="unbold">{{ user.name }}  <a href="" ><i class="material-icons md-light">face</i></a></span>
      </h4>
      <h4 class="list-item-header">
        Username: <span class="unbold">{{ user.username }}</span>
      </h4>
      <h4 class="list-item-header">
        Email: <span class="unbold">{{ user.email }}</span>
      </h4>
    </li>
  </ul>
</div>
