/*Sidebar CSS*/
.sidenav{
    height: 100%;
    width: 50px;
    position: fixed;
    background-color: rgb(51, 40, 40);
    overflow-x: hidden;
    text-align: center;
}

.nav-item{
    padding-top: 10px;
}

